<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">
    
    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "plugins/materialize/css/materialize.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "plugins/prism/prism.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "plugins/nprogress/nprogress.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/font.css"}}" />
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_7fvccqfutcrz4cxr.css">
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <script type="text/javascript" src="{{asset "plugins/nprogress/nprogress.js"}}"></script>

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-97484555-1', 'auto');
        ga('send', 'pageview');

        NProgress.configure({
            showSpinner: false,
            easing: 'ease-out',
            speed: 1000
        });
        NProgress.set(0.7);

    </script>

    {{!-- <div class="site-wrapper"> --}}

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The tiny footer at the very bottom --}}
        <footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section><a href="https://github.com/ylhb/spree">Theme Spree  </a> <a href="https://github.com/ylhb/spree" class="github-repo"><span class="gadget-github"></span>Star</a> Designed by <a href="https://nitmoon.com">@NitMoon</a>
            </section>
            <section class="poweredby">Powered by  <a href="https://ghost.org">Ghost</a></section>
            <section><a href="http://www.miitbeian.gov.cn/">豫ICP备17009082号</a></section>
        </footer>

        <!-- 回到顶部按钮 -->
        <div id="backTop" class="top-scroll">
            <a class="btn-floating btn-large waves-effect waves-light" href="#!">
                <i class="iconfont icon-up"></i>
            </a>
        </div>

    {{!-- </div> --}}

    {{!-- Javascript --}}
    <script type="text/javascript" src="{{asset "plugins/jquery/jquery-2.2.0.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "plugins/prism/prism.js"}}"></script>
    <script type="text/javascript" src="{{asset "plugins/materialize/js/materialize.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script>
        NProgress.set(1);
    </script>

</body>
</html>
