{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main class="content" role="main">
    <div class="slogen">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h2 class="post-title">{{title}}</h2>
                    <p class="post-mate">
                        <span><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time><span class="author">{{#author}}{{name}}{{/author}}</span></span>
                        <span class="tags">{{tags prefix="" separator=" "}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container" style="background-image: url({{#if image}}{{image}}{{else}}/assets/images/main.jpg{{/if}})"></div>

    <article class="container z-depth-1 {{post_class}}">

        <div class="row">
            <div class="col s12 m12 l12">
                <section class="post-content">
                    {{content}}
                </section>
            </div>
        </div>

    </article>
</main>

{{!-- Links to Previous/Next posts --}}
<aside class="read-next container">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="4"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="4"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>

{{/post}}
